*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

#banner{
    background-image: url("../images/banner/banner3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 808px;
    /* border: 5px solid rgb(7, 252, 3); */
}

.banner-container{
    display: flex;
    justify-content: right;
}

.banner-content{
    max-width: 525px;
    /* border: 1px solid red; */
    margin: 216px 230px 166px auto;
    text-align: right;
}

.banner-content h1{
    font-size: 65px;
    color: #ffffff;
    margin-bottom: 24px;
}

.banner-content p{
    color: #ffffff;
    line-height: 26px;
    margin-bottom: 32px;
}

.banner-content .btn, .positive .btn{
    padding: 15px 20px;
    font-size: 20px;
    color: #005FAC;
    border: none;
    border-radius: 5px;
}

#failure{
    margin: 131px 322px 0px 220px;
}

.failure-container{
    max-width: 1072px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
}

.failure-container .failure-image img{
    width: 450px;
}

.failure-container .failure-content{
    width: 416px;
    margin: auto;
    
}

.failure-content h1{
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.failure-content p{
    width: 390px;
    margin-bottom: 16px;
    color: #444343;
}

#plans{
    max-width: 1141px;
    /* border: 1px solid red; */
    margin: 130px auto;
    text-align: center;
}

.plan-container h1{
    font-size: 40px;
    margin-bottom: 50px;
    color: #151414;
}

.all-plan{
    display: flex;
    justify-content: space-between;
}

.plan-card img{
    width: 90px;
    /* margin: auto; */
}

.plan-card h2{
    font-size: 30px;
    margin-bottom: 16px;
}

.plan-card p{
    font-size: 25px;
    color: #737272;
}

#mindset{
    width: 1140px;
    /* border: 1px solid red; */
    background-image: url("../images/watch.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 130px auto;
    border-radius: 8px;
}

.positive{
    padding: 59px 617px 59px 64px;
    /* border: 1px solid red; */
    background-image: url("../images/gradient1.png");
    background-size: cover;
    border-radius: 8px;
}

.positive h1{
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 24px;
}




/* .plan-card p{
    text-align: center;
} */


/* 
.failure-container{
    display: flex;


}

.failure-content{
    width: 416px;
}

.failure-container img{
    width: 569px;
}

.failure-content ul li {
    list-style: none;
} 
*/