*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

#banner{
    background-image: url("../images/banner/banner3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 808px;
    /* border: 5px solid rgb(7, 252, 3); */
}

.banner-container{
    display: flex;
    justify-content: right;
}

.banner-content{
    max-width: 525px;
    /* border: 1px solid red; */
    margin: 216px 230px 166px auto;
    text-align: right;
}

.banner-content h1{
    font-size: 65px;
    color: #ffffff;
    margin-bottom: 24px;
}

.banner-content p{
    color: #ffffff;
    line-height: 26px;
    margin-bottom: 32px;
}

.banner-content .btn{
    padding: 15px 20px;
    font-size: 20px;
    color: #005FAC;
    border: none;
    border-radius: 5px;
}

#failure{
    margin: 131px 322px 226px 220px;
}

.failure-container{
    max-width: 1072px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
}

.failure-container .failure-image img{
    width: 450px;
}

.failure-container .failure-content{
    width: 416px;
    margin: auto;
    
}

.failure-content h1{
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.failure-content p{
    width: 390px;
    margin-bottom: 16px;
    color: #444343;
}



/* 
.failure-container{
    display: flex;


}

.failure-content{
    width: 416px;
}

.failure-container img{
    width: 569px;
}

.failure-content ul li {
    list-style: none;
} 
*/